# Original videos are 600x800 and need to be downsampled to train models
video_height: 60
video_width: 80

stimuli:
  _target_: openretina.data_io.karamanlis_2024.stimuli.load_all_stimuli
  _convert_: object
  base_data_path: ${paths.data_dir}
  stim_type: "fixationmovie"
  specie: "mouse"
  normalize_stimuli: true
  # Set desidered downsampling size above
  downsampled_size:
    - ${data_io.video_height}
    - ${data_io.video_width}

responses:
  _target_: openretina.data_io.karamanlis_2024.responses.load_all_responses
  _convert_: object
  base_data_path: ${paths.data_dir}
  stim_type: "fixationmovie"
  specie: "mouse"
  fr_normalization: 1.0

data_info:
  response_rate_hz: 75 # NB: for marmoset it will be 85
  stimulus_rate_hz: 75
  stimulus_class: ${data_io.responses.stim_type}
  retina_pixel_size_um: 7.5 # NB: for only a few marmoset recordings, it could be 2.5 . See paper
  animal_species: ${data_io.responses.specie}
