defaults:
  - data_io: goldin_2022
  - dataloader: goldin_2022
  - model: base_core_readout
  - training_callbacks:
      - early_stopping
      - lr_monitor
      - model_checkpoint
  - logger:
      - tensorboard
      - csv
  - trainer: default_deterministic
  - _self_ # values in this config will overwrite the defaults

exp_name: core_readout_goldin_2022
seed: 42
check_stimuli_responses_match: false

paths:
  cache_dir: ${oc.env:OPENRETINA_CACHE_DIRECTORY} # Remote files are downloaded to this location
  # If data_dir is a local path, data will be read from there. If a remote link, the target will be downloaded to cache_dir.
  data_dir: "https://huggingface.co/datasets/open-retina/open-retina/tree/main/marre_lab/goldin_2022/"
  log_dir: "." # Used as parent for output_dir. Will store train logs.
  output_dir: ${hydra:runtime.output_dir} # Modify in the "hydra/default.yaml" config

data_io:
  stimuli:
    specie: "mouse"
  responses:
    specie: "mouse"

# Overwrite model defaults
model:
  in_shape: [1, 1, 108, 108]
  hidden_channels: [4]
  core:
    temporal_kernel_sizes: [1]
    spatial_kernel_sizes: [30]
    gamma_temporal: 0.0
    gamma_input: 0.4654576767872573
    convolution_type: "time_independent"
  readout:
    mask_l1_reg: 5.924553274051563
    feature_weights_l1_reg: 6.075840974162483

matmul_precision:
  _target_: torch.set_float32_matmul_precision
  precision: highest

trainer:
  gradient_clip_val: 1
  log_every_n_steps: 10
  max_epochs: 100
  accumulate_grad_batches: 10
  precision: 16-mixed

training_callbacks:
  early_stopping:
    patience: 10
    monitor: "val_loss"
    mode: "min"
    min_delta: 0.0001
  model_checkpoint:
    monitor: "val_loss"
    mode: "min"
    min_delta: 0.0001
