defaults:
  - data_io: hoefling_2024
  - quality_checks: hoefling_2024
  - dataloader: hoefling_2024
  - model: base_core_readout
  - training_callbacks:
    - early_stopping
    - lr_monitor
    - model_checkpoint
  - logger:
    - tensorboard
    - csv
  - trainer: default_deterministic
  - hydra: default
  - _self_ # values in this config will overwrite the defaults

exp_name: hoefling_2024_core_readout_low_res_filtered
seed: 42
check_stimuli_responses_match: false

dataloader:
  batch_size: 128


model:
  in_shape: [2, 150, 18, 16]

data:
  root_dir: ${oc.env:OPENRETINA_CACHE_DIRECTORY} # Choose the location of the root directory for the project  
  data_dir: ${data.root_dir}/data/ # Modify according to preferred data location  
  output_dir: ${hydra:runtime.output_dir} # Modify in the "hydra/default.yaml" config
  movies_path: "https://huggingface.co/datasets/open-retina/open-retina/blob/main/euler_lab/hoefling_2024/stimuli/rgc_natstim_18x16_joint_normalized_2024-01-11.zip"
  responses_path: "https://huggingface.co/datasets/open-retina/open-retina/resolve/main/euler_lab/hoefling_2024/responses/rgc_natstim_2024-08-14.zip"
matmul_precision:
  _target_: torch.set_float32_matmul_precision
  precision: highest


trainer:
  max_epochs: 100
  accumulate_grad_batches: 1
  gradient_clip_val: 1
