defaults:
  - data_io: hoefling_2024
  - quality_checks: hoefling_2024
  - dataloader: hoefling_2024
  - model: base_core_readout
  - optimizer: adamw
  - lr_scheduler: reduce_lr_on_plateau
  - training_callbacks:
      - early_stopping
      - lr_monitor
      - model_checkpoint
  - logger:
      - tensorboard
      - csv
  - trainer: default_deterministic
  - hydra: default
  - _self_

exp_name: hoefling_2024_core_readout_low_res_frozen_pretrained_core
seed: 42
check_stimuli_responses_match: false

dataloader:
  batch_size: 128

model:
  in_shape: [2, 150, 18, 16]
  core_checkpoint_path: ${paths.pretrained_core_checkpoint}
  core_checkpoint_prefix: "core."
  core_checkpoint_strict: true

data_io:
  retina_pixel_size_um: 50

paths:
  load_model_path: null
  pretrained_core_checkpoint: ??? # Path to stage-1 future-predictor checkpoint
  cache_dir: ${oc.env:OPENRETINA_CACHE_DIRECTORY}
  data_dir: ${paths.cache_dir}/data/
  log_dir: "."
  output_dir: ${hydra:runtime.output_dir}
  movies_path: "https://huggingface.co/datasets/open-retina/open-retina/blob/main/euler_lab/hoefling_2024/stimuli/rgc_natstim_18x16_joint_normalized_2024-01-11.zip"
  responses_path: "https://huggingface.co/datasets/open-retina/open-retina/resolve/main/euler_lab/hoefling_2024/responses/rgc_natstim_2024-08-14.zip"

matmul_precision:
  _target_: torch.set_float32_matmul_precision
  precision: highest

trainer:
  max_epochs: 100
  accumulate_grad_batches: 1
  gradient_clip_val: 1

only_train_readout: true
