defaults:
  - data_io: hoefling_2024
  - quality_checks: hoefling_2024
  - dataloader: hoefling_2024
  - model: core_future_predictor
  - optimizer: adamw
  - lr_scheduler: reduce_lr_on_plateau
  - training_callbacks:
      - early_stopping
      - lr_monitor
      - model_checkpoint
  - logger:
      - tensorboard
      - csv
  - trainer: default_deterministic
  - hydra: default
  - _self_

exp_name: hoefling_2024_core_future_predictor_low_res
seed: 42
check_stimuli_responses_match: false

dataloader:
  batch_size: 128
  train_chunk_size: 50

model:
  in_shape: [2, 50, 18, 16]
  prediction_horizon: 3
  reverse_video_direction: false

data_io:
  retina_pixel_size_um: 50

paths:
  load_model_path: null
  cache_dir: ${oc.env:OPENRETINA_CACHE_DIRECTORY}
  data_dir: ${paths.cache_dir}/data/
  log_dir: "."
  output_dir: ${hydra:runtime.output_dir}
  movies_path: "https://huggingface.co/datasets/open-retina/open-retina/blob/main/euler_lab/hoefling_2024/stimuli/rgc_natstim_18x16_joint_normalized_2024-01-11.zip"
  responses_path: "https://huggingface.co/datasets/open-retina/open-retina/resolve/main/euler_lab/hoefling_2024/responses/rgc_natstim_2024-08-14.zip"

matmul_precision:
  _target_: torch.set_float32_matmul_precision
  precision: highest

trainer:
  max_epochs: 100
  accumulate_grad_batches: 1
  gradient_clip_val: 1

training_callbacks:
  early_stopping:
    monitor: "val_loss"
    min_delta: 1.0e-5
    mode: "min"
  model_checkpoint:
    filename: "{epoch:02d}_{val_loss:.6f}"
    monitor: "val_loss"
    mode: "min"

lr_scheduler:
  mode: min
  monitor: val_loss

only_train_readout: false
