defaults:
  - data_io: maheswaranathan_2023
  - dataloader: maheswaranathan_2023
  - model: linear_nonlinear_poisson
  - optimizer: adamw
  - lr_scheduler: reduce_lr_on_plateau
  - training_callbacks:
      - early_stopping
      - lr_monitor
      - model_checkpoint
  - trainer: default_deterministic
  - logger:
      - tensorboard
      - csv
  - hydra: default
  - _self_ # values in this config will overwrite the defaults

exp_name: example_linear_nonlinear_poisson
seed: 42
check_stimuli_responses_match: false

paths:
  cache_dir: ${oc.env:OPENRETINA_CACHE_DIRECTORY} # Remote files are downloaded to this location
  # If data_dir is a local path, data will be read from there. If a remote link, the target will be downloaded to cache_dir.
  data_dir: https://huggingface.co/datasets/open-retina/open-retina/resolve/main/baccus_lab/maheswaranathan_2023/neural_code_data.zip
  log_dir: "." # Used as parent for output_dir. Will store train logs.
  output_dir: ${hydra:runtime.output_dir} # Modify in the "hydra/default.yaml" config

# Overwrite model defaults with specifics for Maheswaranathan 2023 input data format.
model:
  in_shape: [1, 100, 50, 50]

matmul_precision:
  _target_: torch.set_float32_matmul_precision
  precision: highest

trainer:
  max_epochs: 60
  accumulate_grad_batches: 1
  gradient_clip_val: 1
