# Spatial Contrast (SC) model on the Sridhar et al. 2025 white noise dataset.
# Trains a single-cell SC model for one neuron at a time.
# To change the target neuron, modify dataloader.cell_index and dataloader.retina_index below.

defaults:
  - data_io: sridhar_wn_2025
  - quality_checks: null
  - dataloader: sridhar_2025_wn_single_cell
  - model: single_cell_sc
  - training_callbacks:
      - early_stopping
      - lr_monitor
      - model_checkpoint
  - logger:
      - wandb
      - csv
  - trainer: default_deterministic
  - hydra: default
  - _self_

exp_name: sridhar_2025_wn_sc
seed: 42
check_stimuli_responses_match: true

dataloader:
  cell_index: 2
  retina_index: "04"

model:
  in_shape:
    - ${data_io.input_channels}
    - ${dataloader.num_of_frames}
    - ${data_io.stimulus_height}
    - ${data_io.stimulus_width}
  sta_dir: "${paths.data_dir}/${dataloader.sta_dir}"
  sta_file_name: "cell_data_${dataloader.retina_index}_WN_stas_cell_${dataloader.cell_index}.npy"
  flip_sta: ${data_io.flip_sta}

paths:
  load_model_path: null
  cache_dir: ${oc.env:OPENRETINA_CACHE_DIRECTORY}
  data_dir: "https://huggingface.co/datasets/open-retina/open-retina/tree/main/gollisch_lab/sridhar_2025/marmoset/whitenoise"
  log_dir: "./logs/sc_wn"
  output_dir: ${hydra:runtime.output_dir}

matmul_precision:
  _target_: torch.set_float32_matmul_precision
  precision: highest

trainer:
  max_epochs: 100
  accumulate_grad_batches: 1
  gradient_clip_val: 1
