name: Python Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        task: [ "codestyle", "type-checks", "unit-tests" ]
        python-version: [ "3.10" ]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        # Setup Python
      - name: Set Up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Display Python version
        run: python -c "import sys; print(sys.version)"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .
  
      - name: Codestyle
        if: matrix.task == 'codestyle'
        run: |
          ./scripts/tests/codestyle.sh

      - name: Type checks
        if: matrix.task == 'type-checks'
        run: |
          ./scripts/tests/check-types.sh

      - name: Unit tests
        if: matrix.task == 'unit-tests'
        run: |
          ./scripts/tests/unit-tests.sh

